env:
  global:
  - ENCRYPTION_LABEL: 43aad3c5286a

language: node_js
node_js:
- stable
before_install: npm install -g grunt-cli
install: npm install
script: bash ./deploy.sh

cache:
  directories:
  - node_modules # NPM packages
