---
layout: page
title: "About"
description: "hey, welcome~"
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select>

<!-- Chinese Version -->
<div class="zh">
    <blockquote>

    </blockquote>

</div>

<!-- English Version -->
<div class="en">
    <blockquote>

    </blockquote>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.gittalk_clientID %}
<!-- gitalk 评论框 start -->
<div id="gitalk-container"></div>
<!-- gitalk 评论框 end -->

<!-- gitalk 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    const gitalk = new Gitalk({
        clientID: "{{site.gittalk_clientID}}",
        clientSecret: "{{site.gittalk_clientSecret}}",
        repo: 'wings27.github.io',
        owner: 'wings27',
        admin: ['wings27'],
        id: location.pathname, // Ensure uniqueness and length less than 50
        distractionFreeMode: false
    });
    gitalk.render('gitalk-container');
</script>
<!-- gitalk 公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
